<% @users.each do |user| %>
  <%= link_to user_path(user) do %>
    <%= render 'shared/user', user: user %>
  <% end %>
<% end %>
<div class="new-post">
<a href="/posts/new"><button type="button">Create a Post</button></a>
</div>