<h1>Here is a list of all users</h1>
<div class="user">
<% @users.each do |user| %>
    <div class="user-image">
      <img src="<%= user.photo %>" alt="user-image">
    </div>
    <div class="user-detail">
        <p class="user-name"><%= user.name %></p>
        <p class="post-number">Number of posts: <%= 0 || user.posts_counter %></p>
    </div>
</div>
<% end %>