<%= render 'shared/user', user: @user %>
<div class="bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>
  <% @user.recent_posts.each do |post| %>
    <%= link_to user_posts_path(@user) do %>
    <%= render 'shared/post', post: post %>
    <% end %>
  <% end %>
