<div class="post">
<div class="post-header">
  <p class="post-title"><%= post.title %></p>
  <p class="post-text"><%= post.text.length > 100 ? post.text[0..100] + "..." : post.text %></p>
</div>
<div class="counters">
  <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
</div>
</div>