<div class="post">
  <p class="post-title"><%= post.title %></p>
  <p class="post-text"><%= post.text %></p>
</div>
<div class="counters">
  <p>Comments: <%= post.comments_counter %></p>
  <p>Likes <%= post.likes_counter %></p>
</div>