<div class="user">
  <div class="user-image">
    <img src="<%= user.photo %>" alt="user-image">
  </div>
  <div class="user-detail">
      <h1 class="user-name"><%= user.name %></h1>
      <p class="post-number">Number of posts: <%= user.posts_counter %></p>
  </div>
</div>